{% extends "MLFirstBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block ml_body %}

    <h2>Petit listing des familles</h2>
    <hr>

    <ul class="navbar-nav">
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('ml_view', {'id': advert.id}) }}">
                    <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}" width="100" height="100"><br>
                    {{ advert.title }}
                </a>
                - {{ advert.price }}€ par {{ advert.author }},
                le {{ advert.date|date('d/m/Y') }}
            </li>
            <hr>
        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %}
    </ul>

{% endblock %}