{% extends "MLFirstBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block ml_body %}



    <h2>Petit listing des familles</h2>
    <hr>
    <div class="gallery">

        {% for advert in listAdverts %}
            <figure class="figure">
                <a href="{{ path('ml_view', {'id': advert.id}) }}" style="color:black;text-decoration: none"
                         onmouseover="this.style.background='lightgray';"
                         onmouseout="this.style.background='';">
                    {% for image in advert.image %}
                         {% if loop.first %}
                             <img src="{{ image.url }}" alt="{{ image.alt }}" width="200px" height="200px" style="margin:10px;">
                         {% endif %}
                    {% endfor %}
                    <figcaption style="width:200px">{{ advert.title }}<small> par {{ advert.user.username }} </br>le {{ advert.date|date('d/m/Y') }}</small>
                    </figcaption>
                </a>
            </figure>
        {% else %}
            <figure>
                <p>Pas (encore !) d'annonces</p>
            </figure>

        {% endfor %}
        <script>
            popup = {
                init: function(){
                    $('figure').click(function(){
                        popup.open($(this));
                    });

                    $(document).on('click', '.popup img', function(){
                        return false;
                    }).on('click', '.popup', function(){
                        popup.close();
                    })
                },
                open: function($figure) {
                    $('.gallery').addClass('pop');
                    $popup = $('<div class="popup" />').appendTo($('body'));
                    $fig = $figure.clone().appendTo($('.popup'));
                    $bg = $('<div class="bg" />').appendTo($('.popup'));
                    $close = $('<div class="close"><svg><use xlink:href="#close"></use></svg></div>').appendTo($fig);
                    $shadow = $('<div class="shadow" />').appendTo($fig);
                    src = $('img', $fig).attr('src');
                    $shadow.css({backgroundImage: 'url(' + src + ')'});
                    $bg.css({backgroundImage: 'url(' + src + ')'});
                    setTimeout(function(){
                        $('.popup').addClass('pop');
                    }, 10);
                },
                close: function(){
                    $('.gallery, .popup').removeClass('pop');
                    setTimeout(function(){
                        $('.popup').remove()
                    }, 100);
                }
            }

            popup.init()

        </script>
    </div>
{% endblock %}